*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(0, 0, 0);
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
}

button{
    background: none;
    border: none;
    color: white;
    font-size: 150%;
    cursor: pointer;
    display: none;
}
button:focus{
    color: plum;
    border: 1px solid plum;
}

nav{
    margin: 0;
    padding: 0;
    display: flex;
}

li{
    list-style-type: none;
    display: inline;
    margin-right: 1.5rem;
}
li:last-of-type{
    margin-right: 0;
}
nav li a{
    color: white;
    text-decoration: none;
}
nav li a:hover{
    color: plum;
    text-decoration: underline;
}

@media screen and (max-width: 650px){
    button{
        display: block;
    }
}