*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(50, 22, 63);
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}